/* .manageInven {
    margin-top: 100px;
} */

.manageItem {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;


}

.manageItem img {
    height: 30px;
    width: 50px;
    border-radius: 50px;

}

.login {

    margin-bottom: 300px;


}