.service img {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 7px;
}

.service {
    border: 1px solid #0D6EFD;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.service img {
    transition: .5s ease;
}

.service img:hover {
    box-shadow: 0 0 0 8px #0D6EFD;
    transition: .9s ease;
}